<mat-tab-group>
  <mat-tab label="Candidatos">
    <view-candidates></view-candidates>
  </mat-tab>
  <mat-tab label="IMC por faixa etária">
    <view-imc-range-age></view-imc-range-age>
  </mat-tab>
  <mat-tab label="Percentual de obesos">
    <view-percent-overweight></view-percent-overweight>    
  </mat-tab>
  <mat-tab label="Idade por tipo sanguineo">
    <view-blood-type-age-avg></view-blood-type-age-avg>
  </mat-tab>
  <mat-tab label="Doadores por tipo sanguineo">
    <view-blood-type-receptors-amount></view-blood-type-receptors-amount>
  </mat-tab>
</mat-tab-group>
